@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  animation: appear 0.5s forwards;
}

.bubbles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background-color: #f1f1f1;
}

.bubble:nth-child(0) {
  background: #9f45d341;
  position: absolute;
  left: calc(0 * 10vw);
  display: block;
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 11s 3s ease-in infinite, sway2 8s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(1) {
  background: #9f45d341;
  position: absolute;
  left: calc(1 * 10vw);
  display: block;
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 13s 9s ease-in infinite, sway1 8s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(2) {
  background: #9f45d341;
  position: absolute;
  left: calc(2 * 10vw);
  display: block;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 9s 2s ease-in infinite, sway1 9s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(3) {
  background: #9f45d341;
  position: absolute;
  left: calc(3 * 10vw);
  display: block;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 14s 4s ease-in infinite, sway2 8s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(4) {
  background: #9f45d341;
  position: absolute;
  left: calc(4 * 10vw);
  display: block;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 14s 0s ease-in infinite, sway1 10s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(5) {
  background: #9f45d341;
  position: absolute;
  left: calc(5 * 10vw);
  display: block;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 15s 1s ease-in infinite, sway1 7s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(6) {
  background: #9f45d341;
  position: absolute;
  left: calc(6 * 10vw);
  display: block;
  width: 11vh;
  height: 11vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 9s 5s ease-in infinite, sway1 9s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(7) {
  background: #9f45d341;
  position: absolute;
  left: calc(7 * 10vw);
  display: block;
  width: 11vh;
  height: 11vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 10s 10s ease-in infinite, sway1 9s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(8) {
  background: #9f45d341;
  position: absolute;
  left: calc(8 * 10vw);
  display: block;
  width: 11vh;
  height: 11vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 11s 3s ease-in infinite, sway2 6s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(9) {
  background: #9f45d341;
  position: absolute;
  left: calc(9 * 10vw);
  display: block;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 14s 0s ease-in infinite, sway2 7s 0s ease-in-out alternate infinite;
}

.bubble:nth-child(10) {
  background: #9f45d341;
  position: absolute;
  left: calc(10 * 10vw);
  display: block;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 115vh;
  animation: float-up 12s 10s ease-in infinite, sway1 7s 0s ease-in-out alternate infinite;
}

@keyframes float-up {
  0% {
    top: 115vh;
  }
  100% {
    top: -15vh;
  }
}
@keyframes sway1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes sway2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
#home {
  position: absolute;
  top: 0;
}

.navbar {
  width: 100vw;
  min-width: 1000px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f1f1f1;
  transition: all 500ms ease-in;
  transform: translateY(-80px);
}
.navbar .left {
  width: 20%;
  height: 66px;
  margin-left: 5%;
  margin-top: 2px;
  float: left;
}
.navbar .left img {
  width: auto;
  height: 66px;
}
.navbar .center {
  width: 25%;
  height: 60px;
  margin-left: 12.5%;
  margin-top: 5px;
  float: left;
}
.navbar .center .link-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.navbar .center .link-container .link {
  color: black;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.navbar .center .link-container .link a {
  text-decoration: none;
  color: black;
}
.navbar .center .link-container .link:hover {
  cursor: pointer;
  font-weight: 600;
}
.navbar .right {
  width: 25%;
  height: 60px;
  margin-right: 5%;
  margin-top: 5px;
  float: right;
}
.navbar .right button {
  background-color: #8234af;
  border: none;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 20px;
  font-weight: 400;
  color: white;
  height: 45px;
  width: 35%;
  margin-top: 5px;
  float: right;
}
.navbar .right button:nth-child(1) {
  width: 50%;
}
.navbar .right button:nth-child(2) {
  margin-right: 20px;
}
.navbar .right button:hover {
  cursor: pointer;
  font-weight: 500;
}

.content {
  width: 100vw;
  min-width: 1000px;
  padding-bottom: 30px;
}
.content .landing {
  padding-top: 85px;
  height: calc(100vh - 85px);
  width: 44%;
  margin-left: 28%;
}
.content .landing img {
  margin-top: 10vh;
  width: 50%;
  height: auto;
  margin-left: 25%;
}
.content .landing .paragraph {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 24px;
  font-weight: 500;
  color: #8234af;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 5vh;
  text-shadow: 2px 2px #f1f1f1;
}
.content .landing .scroll-indicator {
  width: 15px;
  height: 75px;
  margin: auto;
  margin-top: 50px;
}
.content .landing .scroll-indicator .circle {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
  background-color: #d8d8d8;
  border-radius: 50%;
}
@keyframes blink {
  0% {
    background-color: #d8d8d8;
  }
  50% {
    background-color: #8234af;
  }
  100% {
    background-color: #d8d8d8;
  }
}
.content .landing .scroll-indicator .circle:nth-child(0) {
  animation: blink 1s calc((0 - 1) * 250ms) infinite;
}
.content .landing .scroll-indicator .circle:nth-child(1) {
  animation: blink 1s calc((1 - 1) * 250ms) infinite;
}
.content .landing .scroll-indicator .circle:nth-child(2) {
  animation: blink 1s calc((2 - 1) * 250ms) infinite;
}
.content .landing .scroll-indicator .circle:nth-child(3) {
  animation: blink 1s calc((3 - 1) * 250ms) infinite;
}
.content .images {
  width: 60%;
  margin-top: 30px;
  margin-left: 20%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .images .left, .content .images .right {
  width: 45%;
}
.content .images .left img, .content .images .right img {
  width: 95%;
  height: 400px;
  margin-left: 2.5%;
  object-fit: cover;
}
.content .images .left button, .content .images .right button {
  background-color: #8234af;
  border: none;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
}
.content .images .left button:hover, .content .images .right button:hover {
  cursor: pointer;
  font-weight: 500;
}
.content .card-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 12.5%;
  margin-bottom: 45px;
  margin-top: 50px;
  height: 530px;
}
.content .card-container #shop {
  position: absolute;
  transform: translateY(-100px);
}
.content .card-container .card {
  display: inline-block;
  width: 30%;
  border-radius: 16px;
  box-shadow: 0 0 25px #b9b9b9;
}
.content .card-container .card .top {
  width: 100%;
  height: 75px;
  background-color: #8234af;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .card-container .card .top span {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 26px;
  font-weight: 500;
  color: white;
}
.content .card-container .card .main {
  width: 100%;
  background-color: white;
  height: 375px;
}
.content .card-container .card .main .text-container {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}
.content .card-container .card .main .text-container .price {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 32px;
  font-weight: 600;
  color: #7c00c3;
  display: block;
}
.content .card-container .card .main .text-container .description {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 400;
  color: black;
  display: block;
  margin-top: 15px;
}
.content .card-container .card .main .text-container .description br {
  height: 10px;
}
.content .card-container .card .bottom {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 100%;
  background-color: white;
  text-align: center;
}
.content .card-container .card .bottom button {
  background-color: #8234af;
  border: none;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 20px;
  font-weight: 400;
  color: white;
  height: 50px;
  width: 70%;
  margin-bottom: 30px;
}
.content .card-container .card .bottom button:hover {
  cursor: pointer;
  font-weight: 500;
}
.content .card-container .card:hover {
  box-shadow: 0 0 25px #949494;
}
.content .faq {
  width: 50%;
  background-color: white;
  border-radius: 16px;
  text-align: center;
  margin-left: 25%;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content .faq #support {
  position: absolute;
  transform: translateY(-125px);
}
.content .faq hr {
  width: 70%;
  border-color: #8234af;
}
.content .faq .header {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 40px;
  font-weight: 600;
  color: #8234af;
  display: block;
}
.content .faq .q-container {
  height: 100%;
  transition: all 200ms ease-in;
  display: block;
  text-align: center;
}
.content .faq .q-container img {
  width: auto;
  height: 34px;
  display: inline-block;
  transform: translateY(7px) rotate(180deg);
  transition: all 200ms ease-in;
}
.content .faq .q-container img:hover {
  cursor: pointer;
  transform: translateY(10px) rotate(180deg);
}
.content .faq .q-container .flip {
  transform: translateY(7px) rotate(0deg);
}
.content .faq .q-container .flip:hover {
  cursor: pointer;
  transform: translateY(10px) rotate(0deg);
}
.content .faq .q-container .subheader {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 32px;
  font-weight: 500;
  color: black;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 1%;
}
.content .faq .q-container .paragraph {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 28px;
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
  transition: all 200ms ease-in;
  display: none;
  transform: translateY(-32px);
  opacity: 0%;
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}
@keyframes show-answer {
  from {
    transform: translateY(-32px);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}
.content .faq .q-container .show-answer {
  display: block;
  animation: show-answer 500ms forwards;
}

/*# sourceMappingURL=index.css.map */
